body {
  height: 100%;
  background-color: black;
}
.clock {
  width: 460px;
  margin: auto;
  height: 100px;
  top: 40%;
  bottom: 40%;
  position: relative;
  zoom: 2;
}

.flip-clock-label {
  display: none;
}

img#logo {
position: fixed;
  bottom: 0px;
  /* right: 50px; */
  /* height: 200px; */
  /* text-align: center; */
  width: 33%;
  /* margin: auto; */
  left: 33%;
}