body {
  height: 100%;
  background-color: black;
}
.clock {
  width: 500px;
  margin: auto;
  height: 100px;
  top: 40%;
  bottom: 40%;
  position: relative;
  zoom: 2;
}

.flip-clock-label {
  display: none;
}

img#logo {
  position: fixed;
  bottom: 0px;
  right: 50px;
  height: 200px;
}